html {
    height: 100%;
}

body {
    /*background: linear-gradient(#2D3033, #6C6E70) no-repeat;*/
    background: #222222;
    padding: 0;
    margin: 50px 80px;
    font-family: 'Droid Sans', serif;
}

#app {
    align-items: stretch;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    display: flex;
    margin: auto;
    max-width: 1300px;
    flex-wrap: wrap;
}

#header {
    background: #333333;
    height: 60px;
    width: 100%;
}

#header > h1 {
    color: #9c9c9c;
    height: 100%;
    line-height: 60px;
    margin: 0;
    text-align: center;
    text-shadow: #eeeeee;
}

#sidebar {
    background: #4472B9;
    width: 20%;
}

#sidebar .toolbox {
    background: white;
    margin: auto auto 10px;
    padding: 10px;
    width: 80%;
}

#sidebar > h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

ul > li {
    text-align: center;
}

.buttons button, li button, li input[type=file] {
    background: #324b80;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 5px 5px 5px;
    outline: none;
    padding: 10px 0;
    transition: all 0.3s;
    width: 90%;
}

#content {
    background: #FFF;
    overflow: scroll;
    height: 600px;
    width: 80%;
}

ul, li {
    list-style-type: none;
}

#iomenu li button, #simulation-options li button {
    background: #556E84;
}

input {
    box-sizing: border-box;
}

#fileinput {
    margin: 10px;
}

button#remove {
    background: #b90020;
    padding: 5px;
    margin: 10px;
}

#node-options {
    background: rgb(220, 238, 255) !important;
}

#node-options h3 {
    border-bottom: 1px solid black;
    margin: 0 0 10px 0;
}

#node-options li {
    font-size: 12px;
    margin: 0 auto;
    padding: 3px 0;
    text-align: left;
}

#node-options input {
    width: 100%;
}

#node-options input#tokens {
    width: 30px;
}

#matrix-popup {
    width: 800px;
    height: 600px;
    z-index: 99999;
    background: white;
    position: absolute;
    overflow: auto;
}

.matrix {
    display: block;
    float: left;
    margin-left: 50px;
    padding: 0 10px;
}

#footer {
    /*clear: both;*/
}
